@import 'vars';

.grid {
  max-width: 780px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}