@import 'vars';

.big-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;

  .overlay {
    position: relative;
    z-index: 12;
  }

  .body {
    background: transparent;
    width: 90%;
    max-width: 1200px;
    margin: 2.5% auto;
    height: 90vh;
    position: relative;
    z-index: 13;
    overflow: scroll;
    -ms-overflow-style: none;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    button.exit {
      background: transparent;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      box-shadow: none;
      filter: grayscale(1) brightness(1.5);
      transform: rotate(45deg);

      img {
        width: 100%;
      }
    }
  }

  .project-title {
    flex: 3;
    color: white;
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 30%;
      justify-content: stretch;
      display: flex;
      flex-flow: column;
    }

    & > div {
      margin: 5px;
    }

    .title {
      background: $theme_base;
      flex: 1.5;
      display: flex;
      flex-direction: column;
      padding: 2.5%;

      .cell {
        display: table;
        height: 100%;

        h1 {
          display: table-cell;
          vertical-align: middle;
          line-height: 1.125em;
          font-size: 1.25em;
          font-weight: 700;
        }

        h2 {
          display: table-footer-group;
          color: $color_dark_grey;
          font-size: 100%;
        }
      }
    }

    .project-specs {
      flex: 4;
      background: $color_grey;
      color: white;
      padding: 1em;
      overflow: scroll;

      .collection {
        margin-top: 0;
      }

      .project-lead {
        text-align: left;
        font-family: $font_poppins;
        font-size: 85%;

        .top {
          @media screen and (min-width: $tablet) {
            align-items: flex-start;
            display: flex;
          }
        }

        p {
          text-transform: initial;
          margin: 10px 0 0 0;
          font-size: 95%;
          line-height: 1.5em;
        }

        span {
          display: inline-block;
        }
      }

      .lead-info {
        margin-left: 10px;
      }

      @media screen and (min-width: $tablet) {
        overflow: hidden;
      }
    }
  }

  section {
    flex: 8;
    background: whitesmoke;
    color: black;
    margin: 5px;

    &.relative {
      position: relative;
      display: flex;
      flex-flow: column;
      @supports (-ms-ime-align: auto) {
        max-width: 70%;
      }
    }
  }

  .media-container {
    text-align: center;

    img,
    video {
      max-width: 100%;
      width: 100%;
    }

    .VueCarousel-dot-container {
      height: 34px;

      .VueCarousel-dot {
        margin-top: 6px;
      }

      .VueCarousel-dot--active {
        height: 100% !important;
        width: 34px !important;
        margin-top: 0 !important;
        padding: 0 6px !important;

        .VueCarousel-dot-inner {
          width: 100% !important;
          height: 100% !important;
          background-color: transparent !important;
          background-image: url('../../assets/icon/circular-arrow.png') !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          background-position: 50% !important;
        }
      }
    }
  }

  .VueCarousel-slide {
    max-height: 400px;
    overflow: hidden;
  }

  .media-navigation {
    width: 33%;
    margin: 0 auto; // border: solid 1px red;
    button {
      box-shadow: none;
      font-size: 3em;
      line-height: 1em;
      padding: 0;
      align-items: baseline;
    }

    .inactive {
      color: dimgrey;
    }

    .active {
      color: $color_lime;
      border: solid 3px $color_lime; // border-radius: 50%;
    }
  }

  .modal-article {
    height: auto;
    width: 80%;
    overflow-y: scroll;
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 1;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    h3 {
      font-weight: 700;
      text-align: center;
      display: inline-block;
      width: 100%;
      color: $theme_base;
      margin: 0;
    }

    .article-content {
      flex: 3;
      margin-bottom: 2em;

      a {
        color: $theme_base;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 0.8em;

        strong {
          font-weight: 700;
        }
      }
    }
  }

  .slide-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 70%;
    left: 0;
    overflow: hidden;

    button {
      background-color: $theme_base;
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
      outline: none;
      -webkit-appearance: none;

      &.prev {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: -5px;
      }

      &.next {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        right: -5px;
      }
    }

    img {
      width: 15px;

      &.reverse {
        transform: rotate(180deg);
      }
    }
  }

  .project-specs hr {
    display: block;
    width: 100%;
    margin: 15px auto;
    border-top: solid 3px $color_white;
  }

  @media screen and (max-width: 600px) {
    overflow: scroll;
    .body {
      flex-direction: column;
      height: auto;

      .header {
        display: block;

        .project-specs {
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
