@import 'global';

body.projects-page {
  @include greydient(0);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 530px;
    height: 250px;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
  }
  &::before {
    background-image: url('/static/img/arrows-top-right.png');
    top: 0;
    right: 0;
  }

  &::after {
    background-image: url('/static/img/arrows-bottom-left.png');
    bottom: 0;
    left: 0;
  }
}

.projects {
  height: 100vh;

  header {
    color: $text_grey;
    font-family: $poppins_bold;
  }
  article {
    width: 80%;
    height: 80%;
    align-content: center;
    max-width: 1198px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
    min-height: 650px;
    // border: solid 1px red;

    .case-container {
      height: 300px;
      width: 300px;
      margin: 15px;
      // border: solid 1px green;

      &:not(:first-child) {
        @include dropshadow(10px);
        cursor: pointer;
      }

      h2 {
        margin-top: 2.5em;
        font-size: 1.5em;
        color: white;
        line-height: 1.75em;
      }

      figure {
        padding: 0;
        margin: 0;
        position: relative;

        img {
          max-width: 100%;
        }

        .figure-overlay {
          position: absolute;
          top: 33%;
          width: 100%;
          // border: solid 1px red;
        }

        img.plus-icon {
          display: block;
          width: 50px;
          height: 50px;
          margin-bottom: 25px;
          border-radius: 50%;
          text-shadow: 0 0 20px rgba(0, 0, 0, 1);
          @include dropshadow(20px);
        }

        figcaption {
          display: block;
          color: white;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          font-size: 1.7em;
          line-height: 1.25em;
          font-weight: 700;
          text-shadow: 0 0 20px rgba(0, 0, 0, 1);
          // // border: solid 2px orange;
        }
      }
    }
  }
}
