//  $color_teal: #00a8a2;
// $color_lime: #bfd600;


$color_teal:#00797C;
$color_lime: #A8C700;
$color_black:#222222;
$color_trans_black: transparentize($color_black, .5);
$color_dark_grey:#414042;
$color_grey: #636363;
$color_light_grey:#808080;
$color_white: #eeeeee;

// #00797C
// #1A658F
// #012169
// #A8C700