@font-face{
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/static/fonts/Poppins-Bold.ttf');
    font-weight: 700;

}

 $font_poppins: 'Poppins', sans-serif;
 $font_poppins_bold: 'Poppins-Bold', sans-serif;

.lime {
  color: $color_lime;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-family: $font_poppins_bold;
}