@font-face {
  src: url('/static/fonts/Poppins-Regular.ttf');
  font-family: 'Poppins';
  font-weight: 400;
}

@font-face {
  src: url('/static/fonts/Poppins-Medium.ttf');
  font-family: 'Poppins-Medium';
  font-weight: 500;
}

@font-face {
  src: url('/static/fonts/Poppins-SemiBold.ttf');
  font-family: 'Poppins-Semi';
  font-weight: 600;
}

@font-face {
  src: url('/static/fonts/Poppins-Bold.ttf');
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

$poppins: 'Poppins', serif;
$poppins-medium: 'Poppins-Medium', serif;
$poppins_semi: 'Poppins-Semi', serif;
$poppins_bold: 'Poppins-Bold', serif;

body {
  font-family: $poppins;
}

p {
  line-height: 1.5em;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.lime {
  color: $lime;
}

.grey {
  color: $text_grey;
}

.teal {
  color: $teal;
}
