@import 'global.scss';
.vm-accordion {
  font-family: $poppins;
  @media screen and (min-width: 500px) {
    display: none;
  }
  .vm-acc-header {
    background-color: $teal;
    text-transform: uppercase;
    font-family: $poppins_bold;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    color: $gradient_grey_dark;
    transition: 0.4s;
    &.active {
      // background-color: #ccc;
      color: white;
    }
    &:before {
      content: '\002B';
      color: $lime;
      font-weight: bold;
      margin-right: 5px;
    }
    &.active:before {
      content: '\d7';
      color: white;
    }
  }
  .vm-acc-content {
    padding: 0 18px;
    background-color: $text-grey;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    .subtitle {
      color: $lime;
      font-family: $poppins_bold;
      font-size: 150%;
    }
  }
}
