@import 'global';

.big-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  .overlay {
    position: relative;
    z-index: 4;
  }

  .body {
    background: white;
    width: 90%;
    margin: 2.5% auto;
    height: 90vh;
    position: relative;
    z-index: 5;

    button.exit {
      @include button(transparent);
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: none;
      filter: grayscale(1) brightness(5);
      transform: rotate(45deg);

      img {
        width: 100%;
      }
    }
  }

  .project-title {
    flex: 3;
    background: $teal;
    color: white;
    text-align: center;

    .title {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        color: $text_grey;
        font-size: 100%;
      }
    }

    .project-specs {
      flex: 4;
      background: grey;
      color: white;
      padding: 1em;
      
      .collection{
        margin-top: 0;
      }

      .project-lead {
        text-align: left;
        font-family: $poppins;

        p {
          text-transform: initial;
        }

        span {
          display: inline-block;
        }
      }
    }
  }

  section {
    flex: 8;
    background: whitesmoke;
    color: black;
  }

  .media-container {
    overflow-x: hidden;

    img {
      width: 100%;
    }
  }

  .media-navigation {
    width:33%;
    margin: 0 auto;
    // border: solid 1px red;
    
    button {
      @include button(transparent);
      box-shadow: none;
      font-size: 3em;
      line-height: 1em;
      padding: 0;
      align-items: baseline;     
      
    }
    .inactive{
      color: grey;
    }
    
    .active{
      color: $lime;
      border: solid 3px $lime;
      // border-radius: 50%;
    }
  }

  .modal-article {
    height: auto;
    min-height: initial;
    width: 90%;

    h3 {
      font-family: $poppins-bold;
      // text-align: left;
      display: inline-block;
      width: 100%;
      color: $teal;
      margin-bottom: 0;
    }
  }

  .project-summary {
    h3 {
      // font-family: $poppins-medium;
      // text-align: left;
      // display: inline-block;
      // width: 100%;
      // color: $teal;
      // margin-bottom: 0;
    }

    .abstract {
      font-weight: bold;
      flex: 1;
      padding-right: 1.5em;
    }

    .main-content {
      flex: 3;
    }
  }

  .project-specs hr {
    display: block;
    width: 90%;
    margin: 5px auto;
    opacity: 0.5;
  }
}