.dock-nav {
  // border: solid 1px orange;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;

  ul {
    li {
      width: 70px;
      height: 70px;
      background: grey;
      margin: 5px;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }

      span {
        width: 100%;
        margin-top: 5px;
        text-align: center;
      }
      img {
        width: 50%;
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: $mobilePlus) {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;

    .mobile-menu {
      display: block;
      font-size: 30px;
      color: $color_grey;
      position: absolute;
      right: 10px;
      // top: 30px;
      background: transparent;
      cursor: pointer;
      outline: none;
      border: none;
    }

    ul {
      display: none;
    }

    &.open {
      background: $color_trans_black;
      height: 100vh;

      ul {
        display: block;
        margin-top: 50px;
      }
    }
  }
}
