@import 'reset';
@import 'vars';
@import 'colors';
@import 'typography';

@mixin pageHeader() {
  font-family: $font_poppins_bold;
  color: $color_grey;
}

// Opinionated resets
body {
  background: #0e0e0e;
  background: -moz-linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  background: -webkit-linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  background: linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#0e0e0e', GradientType=1);

  font-family: $font_poppins;
  color: $color_white;

  p {
    font-size: 16px;
    line-height: 1.2em;
  }

  a {
    border: none;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  button {
    user-select: none;
    cursor: pointer;
  }

  .invisible {
    z-index: -10;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: initial;
  }

  #app {
    min-height: calc(100vh - 2.5%);

    @media screen and (max-width: $mobilePlus) {
      min-height: calc(100vh - 50px);
    }
  }

  .page-header {
    margin-top: 2.5%;
    text-align: center;
    font-size: 1.2rem;
    font-family: $font_poppins_bold;
    h1 {
      color: $color_light_grey;
    }

    @media screen and (max-width: $mobilePlus) {
      margin-top:50px;
      h1 {
        color: $color_lime;
        font-size: 1.5rem;
      }

      span {
        display: none;
      }
    }

    @media screen and (max-width: $mobileSmall) {
      font-size: 1rem;
    }
  }
}

// Global Components

.side-nav {
  @media screen and (max-width: $mobilePlus) {
    display: none;
  }
  button {
    background: $color_lime;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    z-index: 10;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px $color_trans_black;

    &:hover {
      background: darken($color_lime, 10%);
    }

    &:active {
      box-shadow: 0 0 10px 0 $color_trans_black;
    }
    img {
      max-height: 30%;
      transform: translateX(25%);
    }

    &.prev {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: -50px;
    }
    &.next {
      right: -50px;
      transform: rotate(180deg);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
