@import 'reset';
@import 'vars';
@import 'colors';
@import 'typography';

@mixin pageHeader() {
  font-family: $font_poppins_bold;
  color: $color_grey;
}

// Opinionated resets
body {
  background: #0e0e0e;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjODA4MDgwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  background: -webkit-linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  background: linear-gradient(45deg, #0e0e0e 0%, #636363 50%, #0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e0e0e', endColorstr='#0e0e0e', GradientType=1);

  font-family: $font_poppins;
  color: $color_white;

  p {
    font-size: 16px;
    line-height: 1.2em;
  }

  a {
    border: none;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  button {
    user-select: none;
    cursor: pointer;
  }

  .invisible {
    z-index: -10;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: initial;
  }

  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Global Components

.side-nav {
  @media screen and (max-width: $mobilePlus) {
    display: none;
  }
  button {
    background: $color_lime;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    z-index: 10;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px $color_trans_black;

    &:hover {
      background: darken($color_lime, 10%);
    }

    &:active {
      box-shadow: 0 0 10px 0 $color_trans_black;
    }
    img {
      max-height: 30%;
      transform: translateX(25%);
    }

    &.prev {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: -50px;
    }
    &.next {
      right: -50px;
      transform: rotate(180deg);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
