body.home-page {
  /* #region: Mobile */
  .video-container,
  video {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  .home-wrapper {
    width: 100%;
    margin: auto;
    max-width: 700px;
    height: 100%;
    display: table;
    text-align: center;
    .splash {
      font-family: $font_poppins_bold;
      display: table-cell;
      vertical-align: middle;
      padding: 0 1em;
      blockquote {
        font-size: 180%;
        line-height: 1.1;
        .source {
          font-family: $font_poppins;
        }
      }
      .start-button {
        @include button();
        width: 100px;
        height: 100px;
        display: table;
        margin: 40px auto;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    main.home-screen {
      display: table-cell;
      vertical-align: middle;
      .intro-container {
        width: 90%;
        margin: 20% auto;
        padding: 0 1em 2em;
        background: rgba(0, 0, 0, 0.5);
      }
      nav {
        margin-top: 0;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          li {
            @include gradient_blue_radial();
            font-size: 80%;
            margin: -20px 10px 20px;
            width: 30%;
            max-width: 100px;
            a {
              text-align: center;
              padding: .5em;
              display: table-cell;
            }
            img {
              width: 45%;
            }
            span {
              display: block;
            }
          }
        }
      }
      h1 {
        font-family: $font_poppins_bold;
        line-height: 1.1;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.5;
      }
    }
  }
  footer {
    ul.sponsors {
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        display: table;
        max-width: 20%;
        text-align: center;
        img {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  /* #endregion: Mobile */
  /* #region: Tablet + Desktop  */
  @media screen and (min-width: 700px) {
    .home-wrapper {
      display: table;
      height: calc(100% - 58px);
      max-width: 1000px;
      .splash {
        h1 {
          font-size: 200%;
        }
        blockquote {
          font-size: 275%;
        }
      }
      main.home-screen {
        height: calc(100% - 60px);
        .intro-container {
          max-width: 700px;
          padding-left: 3em;
          padding-right: 3em;
          h1 {
            margin: 1em 0;
          }
          p {
            font-size: 120%;
            line-height: 1.7;
          }
        }
      }
      nav {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        ul li {
          max-width: 100px;
          height: 100px;
          display: table;
          a {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }
  /* #endregion: Tablet  + Desktop */
  /* #region: TV  */
  /* #endregion: TV */
  /* #region: Animations */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 750ms ease-in-out;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  /* #endregion: Animations */
}
