@import 'global';

body.home-page {
  background-color: #8FBBF8;
  background-image: url('/static/img/clouds-placeholder.jpg');
  background-position: center;
  background-size: cover;
}

.home-screen {
  color: white;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  max-width: 1024px;
  overflow: hidden;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0 auto;

  .intro-container {
    background: grey;
    background: linear-gradient(45deg, transparentize($gradient_grey_dark, 0.15) 0%, transparentize($gradient_grey_light, 0.15) 50%, transparentize($gradient_grey_dark, 0.15) 100%);
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;

    h1 {
      .lime {
        font-size: 18px;
      }
      font-size: 24px;
      font-weight: 400;
    }

    .text-container {
      width: 80%;
      margin: 0 auto;
    }

    nav {
      margin-top: -50px;

      li {
        background-color: teal;
        background: $teal_linear_gradient;
        width: 100px;
        height: 100px;
        box-shadow: 0 0 15px $trans_black;
      }
    }
  }

  .start-button {
    height: 100px;
    width: 100px;
    background: $lime;
    color: dimgrey;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 30px $trans_black;
    outline: none;
    -webkit-appearance: none;
    border: none;

    &:active,
    &:hover {
      color: white;
      box-shadow: 0 0 10px $trans_black;
      background: darken($lime, 5%);
    }
  }
}
