@import 'global';
body.home-page {
  background-color: #8fbbf8;
  background-image: url('/static/img/clouds-placeholder.jpg');
  background-position: center;
  background-size: cover;

  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.home-screen {
  color: white;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  max-width: 1024px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  .intro-container {
    background: grey;
    background: linear-gradient(45deg, transparentize($gradient_grey_dark, 0.15) 0%, transparentize($gradient_grey_light, 0.15) 50%, transparentize($gradient_grey_dark, 0.15) 100%);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
    h1 {
      .lime {
        font-size: 36px;
        font-family: $poppins_bold;
        line-height: 1em;
      }
      font-size: 24px;
      font-family: $poppins;
      font-weight: 400;
    }
    .text-container {
      width: 80%;
      margin: 0 auto;
    }
    nav {
      width: 67%;
      margin: -50px auto 30px;
      li {
        background-color: teal;
        background: $teal_linear_gradient;
        width: 100px;
        height: 100px;
        box-shadow: 0 0 15px $trans_black;

        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          font-size: 14px;
        }
        img {
          height: 50px;
          margin-top: 15%;
        }
      }
    }
  }
}

.splash {
  height: 100vh;

  header {
    position: relative;
    top: -5vh;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    font-family: $poppins_bold;
    max-width: 1000px;
    text-shadow: 0 0 20px $trans_black;

    h1 {
      margin: 0 auto;
    }

    blockquote {
      font-size: 2.5em;
      line-height: 1em;
      margin: 0;
    }

    .source {
      font-size: 0.4em;
      font-family: $poppins;
    }
  }
  .start-button {
    height: 100px;
    width: 100px;
    background: $lime;
    color: dimgrey;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 30px $trans_black;
    outline: none;
    -webkit-appearance: none;
    border: none;
    &:active,
    &:hover {
      color: white;
      box-shadow: 0 0 10px $trans_black;
      background: darken($lime, 5%);
    }
  }
}
