.live-data {
  min-height: calc(100vh - 30px);
  main {
    // border: solid 1px orange;
    height: calc(100vh - 170px);
    justify-content: space-between; // align-items: center;
    width: 90%;
    margin: auto;
  }

  .data-viz {
    // border: solid 1px yellow;
    width: 65%;
    .core-tabs {
      height: 2.5em;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-family: $font_poppins_bold;
      .tab {
        background: grey;
        outline: none;
        position: relative;
        display: block;
        margin-right: 1.563em;
        height: 40px;
        width: 40%;
        cursor: pointer;
        user-select: none;
        color: $color_dark_grey;
        text-align: center;
        line-height: 2.5em;
        &.active {
          background: $color_teal;
          color: white;
        }
      }
      .user-alloc {
        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          right: -1.5em;
          width: 0;
          height: 0;
          border-top: 2.5em solid grey;
          border-right: 1.563em solid transparent;
        }
        &.active:after {
          border-top: 2.5em solid $color_teal;
          border-right: 1.563em solid transparent;
        }
      }
      .area-of-study {
        &::before {
          content: '';
          position: absolute;
          display: block;
          left: -1.5em;
          width: 0;
          height: 0;
          border-top: 2.5em solid transparent;
          border-right: 1.563em solid grey;
        }
        &.active::before {
          border-top: 2.5em solid transparent;
          border-right: 1.563em solid $color_teal;
        }
      }
    }
    .graph {
      // border: solid 1px white;
      height: 30%;
      header {
        background: $color_teal;
        // @include gradient_teal_linear();
        color: $color_dark_grey;
        font-family: $font_poppins_bold;
        margin-bottom: 4px;
        padding-left: 1em;
        font-size: 0.85rem;
        text-transform: uppercase;
      }
      .canvas {
        width: 100%;
        height: 80%;
      }
    }

  }
  .side-stats {
    width: 35%; // border: solid 1px limegreen;
    margin-right: 20px;
    max-width: 420px;
    header {
      background: $color_teal;
      // @include gradient_teal_linear();
      color: $color_dark_grey;
      font-family: $font_poppins_bold;
      margin-bottom: 10px;
      padding-left: 1em;
    }
  .collection{
    margin-bottom: 30px;
  }
  }
  small {
    color: $color_light_grey;
    display: block;
    text-align: right;
    z-index: -1;
  }
  @media screen and (max-width: $tablet) {
    main {
      height: auto;
      flex-direction: column;
      .data-viz {
        width: 100%;
        height: 320px;
        // border: solid 1px lime;
        .canvas {
          width: 95%;
          margin: auto;
          // border: solid 1px red;
          height: 270px;
          display: none;
          canvas {
            width: 100%;
            height: 270px;
            // border: solid 1px yellow;
          }
        }
        .graph {
          display: none;
        }
      }
      .side-stats {
        width: 100%;
      }
    }
    small {
      position: static;
    }
  }
}
