body.live-data-page {
  .live-data {
    .page-header {
      color: $color_light_grey;
      font-family: $font_poppins_bold;
      line-height: 1.2;
      width: 90%;
      margin: 1em;
    }

    main {
      .data-viz {
        .primary {
          .core-tabs {
            background: grey;
            display: flex;
            width: 90%;
            margin: auto;
            text-align: center;
            display: flex;
            .tab {
              cursor: pointer;
              outline: none;
              flex: 1;
              padding: .5em .5em;
              color: $color_dark_grey;
              position: relative;

              &.user-alloc {
                z-index: 2;

                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-style: solid 1em;
                  border-top: 2.5em solid grey;
                  border-right: 1.563em solid transparent;
                  top: 0;
                  left: 100%;
                }

                &.active {
                  &:after {
                    border-top: 2.5em solid $color_teal;
                  }
                }
              }

              &.active {
                background: $color_teal;
                color: white;
              }
            }
          }

          .canvas {
            canvas {
              width: 95%;
              margin: auto;
              height: 200px;
            }
          }
        }

        .graph {
          display: none;
        }
      }
    }

    .side-stats {
      padding: 1em;

      header {
        background: $color-teal;
        padding-left: 1em;
      }

      .collection {
        margin-bottom: 2em;
      }
    }

    .slide-up-modal {
      z-index: 3;
    }

    #projectLog {
      z-index: 2;
    }
  }
}
