.projects {
  .case-container {
    padding: 1em;
    text-align: center;
    figure {
      position: relative;
      display: inline-block;
      margin: 2em;

      .figure-overlay {
        position: absolute;        
        width: 100%;
        height: 100%;
        background: transparentize($color_black, .75);
        text-align: center;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;

        img {
          max-width: 64px;
          margin-bottom: 1.2em;
        }

        figcaption{
          font-size: 150%;
        }
      }
    }
  }
}
