.small-modal {
  position: absolute;
  height: 250px;
  width: 500px;

  a.button {
    background: transparent;
    outline: none;
    position: absolute;
    top: -16px;
    left: -16px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    z-index: 0;
    -webkit-appearance: none;
    transition: 250ms 750ms;
    cursor: pointer;
  }

  // base styles
  .modal-body {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    transition: transform 250ms 500ms;

    .panel-container {
      display: flex;
      transform: scaleY(0);
      transition: transform 250ms 250ms;
      transform-origin: 50% 0%;
      .panel {
        width: 50%;
        background-color: $color_dark_grey;
        margin: 5px;
        overflow-y: scroll;
        &.left {
        }
        &.right {
          transform: scaleY(0);
          transform-origin: 50% 0%;
          transition: transform 250ms;
        }
      }
    }

    header {
      background-color: $color_teal;
      height: 2em;
      padding-left: 2.5em;
    }

    a.button {
      background: transparent;
      outline: none;
      position: absolute;
      top: -16px;
      left: -16px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 0;
      z-index: 0;
      -webkit-appearance: none;
      transition: 250ms 750ms;
    }
  }

  // only open
  &.open {
    a.button {
      z-index: 4;
      transform: rotate(45deg);
      transition: 250ms;
    }
    .modal-body {
      transform: scaleX(1);
      transition: transform 250ms 250ms;
      .panel-container {
        transform: scaleY(1);
        transition: transform 250ms 500ms;
        .panel {
          &.right {
            transform: scaleY(1);
            transition: 250ms 750ms;
          }
        }
      }
    }

    // open and inverted
    .modal-body.inverted {
      transform: scaleX(1);
      transition: transform 250ms 250ms;
    }
  }

  // inverted base styles
  .modal-body.inverted {
    position: relative;
    right: 500px;
    transform-origin: 100% 0%;
    transform: scaleX(0);
    transition: transform 250ms 500ms;
  }
}
video {
  max-width: 100%;
}
