@import 'global';

.small-modal {
  background: transparent;
  margin: 20px;
  position: absolute;
  display: inline-block;
  box-shadow: 0 0 40px $trans_black;
  top: 0;
  left: 0;

  button {
    @include button(transparent);
    position: absolute;
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;

    &.closed {
      background: transparent;
      transition: transform 0.25s ease-in;
    }
    &.open {
      background: $teal;
      transform: rotate(45deg);
      transition: transform 0.15s ease-in;
      img {
        filter: brightness(10);
      }
    }

    img {
      max-width: 100%;
    }
  }

  header {
    background: $teal;
    color: $gradient_grey_dark;
    width: 99%;
    margin: 0 0 0 0.5%;
    padding: 0.5em 0;
    font-weight: 700;
    font-family: $poppins_bold;

    span {
      margin-left: 1em;
    }
  }

  .panel-container {
    color: white;

    .panel {
      @include greydient(0);
      box-sizing: border-box;
      height: 125px;
      width: 200px;
      margin: 1% 0.5%;
      overflow-y: hidden;

      img {
        max-width: 100%;
        margin: 0 auto;
      }

      p {
        margin: 5px;
      }
    }
  }
}
