@import 'global';

body.specs-page {
  @include greydient(0);
  background: linear-gradient(25deg, $gradient_grey_dark 0%, $gradient_grey_light 50%, black 100%);
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 40%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::before {
    background-image: url('/static/img/arrows-top-right.png');
    top: 0;
    left: 0;
    transform: scaleX(-1);
  }

  &::after {
    background-image: url('/static/img/arrows-bottom-left.png');
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
  }
}

.specs {
  height: 80%;

  & > header {
    font-family: $poppins_bold;
    h1 {
      margin-bottom: 0;
      line-height: 1em;
    }

    .hint {
      font-size: 22px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .cheyenne-container {
    width: 95%;
    max-width: 1080px;
    text-align: center;
    position: relative;

    img.computer {
      position: relative;
      width: 100%;
    }
  }
}
