.specs {
  width: 100%;


  main.supercomputer {
    height: calc(100vh - 100px);
    overflow: hidden;
    display: flex;

    // IE 11 only
    .cheyenne-container {
      margin: auto;
      width: 90%;
      position: relative;
      padding-bottom: 50.7%;
      max-width: 1400px;
      background: url('/static/img/supercomputer.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 30%;
      .computer {
        display: none;
      }
    }

    // better alternative for anthing not IE
    @supports (object-fit: contain) {
      .cheyenne-container {
        margin: auto;
        width: 90%;
        padding-bottom: 0;
        position: relative;
        text-align: center;
        max-width: 1400px;
        background: transparent;

        .computer {
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  @media screen and (max-width: $mobilePlus) {

    main.supercomputer{
      height: calc(100vh - 170px);
    }
  }

  @media screen and (max-width: $mobile) {
  }

  @media screen and (max-width: $mobileSmall) {
  }
}
