.specs {
  width: 100%;

  main.supercomputer {
    border: solid 1px red;

    .cheyenne-container {
      border: solid 1px yellow;
      max-height: 600px;
      text-align: center;

      img {
        // width:100%;
        max-width: 100%;
        max-height: 600px;
        &.computer {
          margin: auto;
          border: solid 1px lime;
        }
      }
    }
  }

  @media screen and (max-width: $mobilePlus) {
  }

  @media screen and (max-width: $mobile) {
  }

  @media screen and (max-width: $mobileSmall) {
  }
}
