@import 'global';

.stat-card {
  @include dropshadow(20px);
  color: white;
  background: $button_light_grey;
  // height: 65px;
  width: 90%;
  margin: 5px 0;
  font-family: $poppins_semi;
  font-weight: 700;
  padding: 0.5em 0;

  .icon {
    margin-left: 1em;
    width: 40px;
  }

  .info {
    margin-left: 1em;
    text-align: left;
  }

  .number {
    font-size: 2.25em;
    line-height: 1.1em;
  }
}

.live-data {
  .stat-card {
    @media screen and (max-width: 1049px) {
      flex-direction: column;

      .info {
        text-align: center;
      }
    }
  }
}

.project-specs {
  .stat-card {
    margin: 0;
    box-shadow: none;
    background: grey;
    font-size: 125%;
    line-height: 1em;
    font-family: $poppins_bold;
  }
}