.stat-card {
  background: $color_grey;
  margin: 10px 0;

  .icon {
    width: 50px;
    height: 50px;
    padding: 10px;

    img {
      max-width: 100%;
    }
  }

  .info {
    font-family: $font_poppins_bold;
    padding: 10px;

    .number {
      font-size: 5.5vh;
      line-height: 1em;
    }

    .label {
      line-height: 1em;
    }
  }
}
